@import "tailwindcss";

@font-face {
    font-family: "Tomorrow";
    src: url(Tomorrow/Tomorrow-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Tomorrow";
    src: url(Tomorrow/Tomorrow-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Tomorrow";
    src: url(Tomorrow/Tomorrow-Bold.ttf);
    font-weight: 700;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

:root {
    --primary: #ea7603;
    --primary-foreground: #ffffff;

    --secondary: #5948AD;
    --secondary-foreground: #ffffff;

    --divider: oklch(70.7% 0.022 261.325);
    --neutral: oklch(92.8% 0.006 264.531);
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-divider: var(--divider);
    --color-neutral: var(--neutral);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --animate-marquee: marquee 20s linear infinite;

    --font-sans: Tomorrow;

    @keyframes marquee {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }
}
